<!DOCTYPE html>
<html>
    <head>
        <title>Admin dashboard</title>
        <link rel="stylesheet" href="/css/dash.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
       <header>
    <div class="container">
     
      <img src="/images/admin.png" alt="logo" class="logo" />
      <nav>
        <ul>
          <li><a href="#">Admin</a></li>
          <li><a href="/admin">Logout</a></li>
          
        </ul>
      </nav>
    </div>
  </header>
    <div class="head"> 
      <h3>Welcome to the Admin Panel</h3>
    </div>
    <div class="row">
      <!-- <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="" class="btn btn-primary">Accept</a>   <a href="" class="btn btn-primary">Reject</a>
          </div>
        </div>
      </div> -->
     <% for(var i = 0; i < v.length; i++) {%>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= v[i].name %> </h5>
            <p class="card-text"><%= v[i].blog %></p>
            <form action="/admin/dashboard" method="POST">
            <a href="" type="submit" class="btn btn-primary">Accept</a> <a href="" type="submit" class="btn btn-primary">Reject</a>
            </form>
          </div>
        </div>
       
      </div>
      <% } %>
    </div>
    
    </body>
</html>