<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/particle.css">
    
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="col-xl-10 col-lg-11 mx-auto login-container">
                <div class="row">
    
                    <div class="col-lg-5 col-md-6 no-padding">
                        <%- include('./partials/messages'); %>
                        <form action="/" method="POST">
                        <div class="login-box">
                            <h5><span class="text_1">Welcome Back🖤</span></h5>
                            <div class="login-row row no-margin">
                                <label for=""> Email Address</label>
                                <input type="email" name="email" class="form-control form-control-sm" required>
                            </div>
    
                            <div class="login-row row no-margin">
                                <label for=""> Password</label>
                                <input type="password" name="password" class="form-control form-control-sm" required>
                            </div>
    
                            <div class="login-row row forrr no-margin">
                                <p> <input type="checkbox"> Remember Me</p>
                                <p><a class="vgh" href="">Forget Password?</a></p>
                            </div>
    
                            <div class="login-row btnroo row no-margin">
                                <button class="btn btn-primary btn-sm" id="submit" value="Send"> Sign In</button>
                                <button class="btn btn-success btn-sm"> Create Account</button>
                            </div>
                            <div class="login-row donroo row no-margin">
                                <p>Dont have an Account ? <a href="/register">Sign Up</a></p>
                            </div>
                        </div>
                    </form>
                    
                    </div>
    
                    <div class="col-lg-7 col-md-6 img-box">
                        <img src="/images/login.gif" alt="">
                        <footer id="footer">
                            <p>UI by Sarvi@copyrights</p>
                            <p>Backend by Yogesh@copyrights</p>
                          </footer>
                    </div>
                
            </div>
    
        </div>
    </div>



</body>

<script src="/popper.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
<script src="js/particle.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>